[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "==3.2.9"
djangorestframework = "*"
django-reversion = "*"
djangorestframework-simplejwt = "*"
django-webpack-loader = "*"

[dev-packages]
factory-boy = "*"
freezegun = "*"

[requires]
python_full_version = "3.9.7"
